.about {
  padding: 70px 20px;
  max-width: 900px;
  margin: auto;
}

.about h2 {
  font-size: 28px;
  color: #0b2c4a;
  margin-bottom: 20px;
}

.about p {
  font-size: 15px;
  line-height: 1.8;
  color: #334155;
}
