.experience {
  padding: 70px 20px;
  max-width: 900px;
  margin: auto;
}

.experience h2 {
  color: #0b2c4a;
  font-size: 28px;
  margin-bottom: 20px;
}

.experience ul {
  list-style: disc;
  padding-left: 20px;
}

.experience li {
  margin-bottom: 10px;
  font-size: 15px;
  color: #334155;
}
